.menuImages {
    width: 55vh;
    height: 90vh;
    padding-right: 0.7rem;
    margin-top: 3rem;
    opacity: 0.9;
}

#one {
    margin-left: 5rem;
}

.menuTitles {
    display: inline-block;
    margin-top: -45rem;
    margin-left: 11.5rem;
    /* color: white; */
}