.OurMissionWhole {
    position: relative;
}

#OurMissionTitle {
    margin-right: 5rem;
}

.OurMissionImage {
    height: 120vh;
    width: 100%
}

.OurMissionDescription {
    margin-left: 25rem;
    width: 45rem;
    position: absolute;
    top: 8rem;
    color: white;
    font-family: 'Arvo', serif;
    font-size: 1.2rem;
}