.OurMissionWhole {
    /* margin-right: 10rem; */
    position: relative;
}

#OurMissionTitle {
    text-align: left;
}

.OurMissionImage {
    height: 120vh;
    width: 100%
}

.OurMissionDescription {
    margin-right: 3rem;
    width: 45rem;
    position: absolute;
    right: 0;
    top: 8rem;
    color: white;
    font-family: 'Arvo', serif;
    font-size: 1.2rem;
}

.FoodImage {
    width: 80%;
    margin: -10rem 0 0 24rem;
}